name: CI - Rick & Morty DevOps Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-deploy-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.29.0

      - name: Install kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.22.0

      - name: Create kind cluster
        run: kind create cluster --name kind

      - name: Build Docker image
        run: |
          docker build -t rick-morty-service:2.0 .

      - name: Load Docker image into kind
        run: |
          kind load docker-image rick-morty-service:2.0 --name kind

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Deploy Rick & Morty with Helm (Ingress disabled)
        run: |
          helm install rick-morty ./helm/rick-morty \
            --set image.repository=rick-morty-service \
            --set image.tag=2.0 \
            --set ingress.enabled=false

      - name: Wait for application to be ready
        run: |
          kubectl rollout status deployment/rick-morty --timeout=60s
